body {
  display: flex;
}
form {
  margin: 5%;
  font-family: system-ui;
  max-width: max-content;
  padding: 20px;
  text-align: center;
  border: 2px solid rgb(5, 176, 249);
  border-radius: 5px;
  margin-left: 17%;
}
form input {
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid rgb(2, 204, 255);
  padding: 10px 100px 10px 10px;
}
form input:last-child {
  cursor: pointer;
  padding: 10px 110px;
  border-radius: 15px;
  background-color: #00c3ff;
  font-weight: bold;
  color: white;
}
p {
  width: 70%;
  margin-left: 14%;
  color: rgb(142, 142, 142);
  font-weight: bold;
}
