* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://img3.wallspic.com/attachments/originals/8/5/7/9/89758-evening-town-painting-metropolis-darkness-3840x2160.jpg");
}
header {
  margin: 10px;
  margin-left: 20%;
  width: max-content;
  background-color: #fff;
  padding: 10px 50px;
}

.form-add {
  margin: 10px;
  background-color: #d7d7d7;
  max-width: max-content;
  padding: 20px 50px;
  border-radius: 5px;
  margin-top: 10px;
}
.form-add input {
  width: 344px;
  border: none;
  height: 30px;
}
.form-add button {
  cursor: pointer;
  border-radius: 5px;
  padding: 9px 20px;
  font-weight: bold;
  color: white;
  background-color: rgb(4, 217, 4);
  border: none;
}
table {
  border-collapse: collapse;
  margin: 10px;
  padding: 20px 50px;
  background-color: #fff;
  color: rgb(0, 0, 0);
}
tr:nth-child(even) {
  background-color: #ededed;
}
th,
td {
  font-weight: bold;
  /* border: 1px solid black; */
  padding: 17px 30px;
}
table button {
  cursor: pointer;
  border-radius: 5px;
  padding: 9px 20px;
  font-weight: bold;
  color: white;
  background-color: rgb(4, 217, 4);
  border: none;
}
.colorLength {
  color: red;
}
#form-edit {
  display: none;
  width: max-content;
  padding: 10px 20px;
}
#form-edit button {
  cursor: pointer;
  border-radius: 5px;
  padding: 9px 20px;
  font-weight: bold;
  color: white;
  background-color: rgb(4, 217, 4);
  border: none;
}
#form-edit input {
  padding: 10px;
  border: 2px solid black;
  background-color: #ffffff;
  width: 344px;
}
#ip-search {
  margin-left: 15%;
  padding: 10px;
  border: 2px solid rgb(5, 213, 255);
  background-color: none;
  width: 34px;
  margin-top: 110px;
  border-radius: 5px;
  height: 400px;
}
.bx {
  font-size: 50px;
  position: absolute;
  right: 19.5%;
  top: 15%;
}
